.cardWrapper {
  position: relative;
  width: 341px;
  height: 331px;
  margin: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: stretch;
  width: 100%;
  height: 100%;
  /* width: 341px; */
  /* height: 353px; */
  /* margin: 10px; */
  border: 3px solid #4caf50;
  border-top-left-radius: 24px !important;
  border-top-right-radius: 8px !important;
  border-bottom-left-radius: 8px !important;
  border-bottom-right-radius: 24px !important;
  overflow: hidden;
}

/* .card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
} */

.badge {
  width: 86px;
  height: 86px;
  background-color: #4caf50;
  padding: 5px;
  border-radius: 50%;
  /* font-size: 12px; */
}

/* =============================================== */

.cardMedia {
  position: absolute;
  top: -50px;
  right: -6px;
  width: 256px !important;
  height: 256px;
  padding: 10px;
  border: 3px solid #4caf50;
  z-index: 2;
  background-color: #e8f5e9;
  border-top-left-radius: 8px !important;
  border-top-right-radius: 24px !important;
  border-bottom-left-radius: 24px !important;
  border-bottom-right-radius: 8px !important;
}

/* =============================================== */
.cardContent {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.6);
}

/* =============================================== */
.dataSection {
  display: flex;
  justify-content: space-between;
}
.dataColumnOne {
  margin-bottom: 5px;
  text-align: left;
}
.dataColumnTwo {
  margin-bottom: 5px;
  text-align: right;
}
/* =============================================== */
.price {
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  color: rgba(255, 255, 255, 1);
}
.priceText {
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  color: rgba(255, 255, 255, 1);
}

.arrowIconUp {
  background-color: rgba(200, 230, 201, 1);
  border-radius: 50%;
  margin: 1px;
  color: rgba(76, 175, 80, 1);
}
.arrowIconDown {
  background-color: rgba(254, 205, 210, 1);
  border-radius: 50%;
  margin: 1px;
  color: rgba(211, 47, 47, 1);
}

/* =============================================== */
.changeContainerStock {
  display: flex;
  width: 81px;
  border-radius: 100px;
  padding: 2px;
  background-color: rgba(254, 235, 238, 1);
  border: 3px solid rgba(211, 47, 47, 1);
}
.changeContainerCrypto {
  display: flex;
  width: 81px;
  border-radius: 100px;
  padding: 2px;
  background-color: rgba(254, 235, 238, 1);
  border: 3px solid rgba(76, 175, 80, 1);
}
/* .changeContainerNFT {
  display: flex;
  width: 81px;
  border-radius: 100px;
  padding: 2px;
  background-color: rgba(254, 235, 238, 1);
  border: 3px solid rgba(211, 47, 47, 1);
} */
/* =============================================== */

.changeStock {
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  color: rgba(211, 47, 47, 1);
}
.changeCrypto {
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  color: rgba(76, 175, 80, 1);
}

.changeText {
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  color: rgba(255, 255, 255, 1);
}
.ethereumText {
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  color: rgba(255, 255, 255, 1);
}

.marketCap {
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  color: rgba(255, 255, 255, 1);
}

.marketCapText {
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  color: rgba(255, 255, 255, 1);
}

/* =============================================== */
/* =============================================== */
/* =============================================== */
.button {
  margin-top: 10px;
}
