.cardWrapper {
  margin: 50px;
  position: relative;
  width: 341px;
  height: 331px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: stretch;
  width: 100%;
  height: 100%;
  border-top-left-radius: 24px !important;
  border-top-right-radius: 8px !important;
  border-bottom-left-radius: 8px !important;
  border-bottom-right-radius: 24px !important;
  overflow: hidden;
}

.stockCard {
  border: 3px solid rgba(76, 175, 80, 1);
}
.cryptoCard {
  border: 3px solid rgba(0, 176, 255, 1);
}
.nftCard {
  border: 3px solid rgba(245, 0, 87, 1);
}

.badge {
  width: 86px;
  height: 86px;
  background-color: #4caf50;
  padding: 5px;
  border-radius: 50%;
}

/* ============================== */

.cardMedia {
  position: absolute;
  top: -78px;
  right: -6px;
  width: 256px !important;
  height: 256px;
  padding: 10px;
  z-index: 2;
  border-top-left-radius: 8px !important;
  border-top-right-radius: 24px !important;
  border-bottom-left-radius: 24px !important;
  border-bottom-right-radius: 8px !important;
}

.stockCardMedia {
  border: 3px solid rgba(76, 175, 80, 1);
  background-color: rgba(232, 245, 233, 1);
}
.cryptoCardMedia {
  border: 3px solid rgba(0, 176, 255, 1);
  background-color: rgba(227, 242, 253, 1);
}
.nftCardMedia {
  border: 3px solid rgba(245, 0, 87, 1);
  background-color: rgba(245, 228, 236, 1);
}

/* ============================== */
.cardContent {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.6);
}

/* ============================== */
.dataSection {
  display: flex;
  justify-content: space-between;
}
.dataColumnOne {
  margin-bottom: 5px;
  text-align: left;
}
.dataColumnTwo {
  margin-bottom: 5px;
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.nftContainer {
  text-align: left;
  align-items: flex-start;
}
/* ============================== */
.price {
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  color: rgba(255, 255, 255, 1);
}
.priceText {
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  color: rgba(255, 255, 255, 1);
}

/* ============================== */
.changeContainer {
  text-align: right;
  display: flex;
  align-items: center;
  border-radius: 5px;
  width: 90px;
  border-radius: 100px;
}

.changeContainer.stock {
  color: rgba(211, 47, 47, 1);
  background-color: rgba(254, 235, 238, 1);
  border: 3px solid rgba(211, 47, 47, 1);
}
.changeContainer.crypto {
  color: rgba(56, 142, 60, 1);
  background-color: rgba(232, 245, 233, 1);
  border: 3px solid rgba(56, 142, 60, 1);
}

.arrowIcon {
  color: inherit;
  /* background-color: inherit; */
  margin: 1px;
  border-radius: 50%;
}

.changeText {
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  color: rgba(255, 255, 255, 1);
}
.ethereumText {
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  color: rgba(255, 255, 255, 1);
}

.marketCap {
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  color: rgba(255, 255, 255, 1);
}

.marketCapText {
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  color: rgba(255, 255, 255, 1);
}

/* ============================== */

.button {
  margin-top: 10px;
}

/* ============================== */
.cardMediaWrapper {
  position: relative;
  z-index: 2;
}
.cardMediaCategoty {
  align-content: center;
  position: absolute;
  text-align: center;
  bottom: 31px;
  right: 196px;
  width: 58px;
  height: 26px;
  border-radius: 100px;
  color: white;
  z-index: 3;
}

.stockCategory {
  border: 2px solid rgba(76, 175, 80, 1);
  background-color: rgba(232, 245, 233, 1);
  color: rgba(76, 175, 80, 1);
}
.cryptoCategory {
  border: 2px solid rgba(0, 176, 255, 1);
  background-color: rgba(227, 242, 253, 1);
  color: rgba(0, 176, 255, 1);
}

.nftCategory {
  border: 2px solid rgba(245, 0, 87, 1);
  background-color: rgba(252, 228, 236, 1);
  color: rgba(245, 0, 87, 1);
}

.cardMediaTitle {
  align-content: center;
  position: absolute;
  bottom: -192px;
  right: 7px;
  width: 236px;
  height: 41px;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  text-align: start;
  padding: 5px 10px;
  font-size: 20px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  z-index: 3;
}

.outLinedIcon {
  align-content: center;
  position: absolute;
  bottom: 22px;
  right: 19px;

  padding: 16px 16px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  z-index: 3;
}

.stockOutLinedIcon {
  background-color: rgba(76, 175, 80, 1);
  color: white;
}
.cryptoOutLinedIcon {
  background-color: rgba(0, 176, 255, 1);
  color: white;
}
.nftOutLinedIcon {
  background-color: rgba(245, 0, 87, 1);
  color: white;
}

.LanguageOutlinedIcon {
  align-content: center;
  position: absolute;
  bottom: 243px;
  right: 284px;
  background-color: black;
  color: white;
  padding: 16px 16px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  z-index: 3;
}

.stockLanguageOutlinedIcon {
  background-color: rgba(76, 175, 80, 1);
  color: white;
}
.cryptoLanguageOutlinedIcon {
  background-color: rgba(0, 176, 255, 1);
  color: white;
}
.nftLanguageOutlinedIcon {
  background-color: rgba(245, 0, 87, 1);
  color: white;
}
