.card {
  margin: 10px;
  border-radius: 10px;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
}

.badge {
  background-color: #eee;
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
}
.button {
  margin-top: 10px;
}
